{% extends 'registration/base.html' %}

{% block content %}
<h2>Appointments</h2>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.patient }}</td>
            <td>{{ appointment.appointment_date }}</td>
            <td>{{ appointment.reason }}</td>
            <td>{{ appointment.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}