{% extends 'registration/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Register New Patient</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="row g-3">
                        {% csrf_token %}
                        
                        <div class="col-md-6">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
                            {{ form.first_name }}
                        </div>
                        
                        <div class="col-md-6">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
                            {{ form.last_name }}
                        </div>
                        
                        <div class="col-md-6">
                            <label for="{{ form.date_of_birth.id_for_label }}" class="form-label">Date of Birth</label>
                            {{ form.date_of_birth }}
                        </div>
                        
                        <div class="col-md-6">
                            <label for="{{ form.gender.id_for_label }}" class="form-label">Gender</label>
                            {{ form.gender }}
                        </div>
                        
                        <div class="col-md-6">
                            <label for="{{ form.phone_number.id_for_label }}" class="form-label">Phone Number</label>
                            {{ form.phone_number }}
                        </div>
                        
                        <div class="col-md-6">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                            {{ form.email }}
                        </div>
                        
                        <div class="col-12">
                            <label for="{{ form.address.id_for_label }}" class="form-label">Address</label>
                            {{ form.address }}
                        </div>
                        
                        <div class="col-12">
                            <label for="{{ form.medical_history.id_for_label }}" class="form-label">Medical History</label>
                            {{ form.medical_history }}
                        </div>
                        
                        <div class="col-md-6">
                            <label for="{{ form.photo.id_for_label }}" class="form-label">Photo</label>
                            {{ form.photo }}
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Register Patient</button>
                            <a href="{% url 'patient_list' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}